<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanatio">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% @movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, :size => 150, :class => "form-control" %>
  </div>
  
  <div class="actions">
    <%= f.submit  class: "btn btn-default" %>
  </div>
<% end %>
