<!DOCTYPE html>
<html>
<head>
  <title>MovieRama</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container">

	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	
	<ul class="hmenu pull-right list-inline">
		<%= render 'devise/menu/registration_items' %>
		<%= render 'devise/menu/login_items' %>
	</ul>

<%= yield %>

</body>
</html>
